body {
    margin: 0;
    background-color: white;
}
canvas {
    display: block;  /* prevents scrollbar */
    width: 100vw;
    height: 100vh;
}
#overlay {
    position: absolute;
    left: 10px;
    top: 10px;
    background: #ffffffaa;
}